.admintitle
{
    
    background-color: yellow;
    border-radius: 15px;
    margin-left: 50px;
    margin-right: 50px;
    height:140px;
    line-height: 140px;
}
.dashboard
{
    background-color: red;
    border-radius: 15px;
    margin-left: 50px;
    margin-right: 50px;
    height:140px;
    line-height: 140px;

    
}